<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
    <h2 class="text-2xl font-bold text-center mb-4">Who are you?</h2>
    
    <form (submit)="onSubmit()" class="space-y-4">
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
        <input id="username" type="text" [(ngModel)]="username" name="username" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" />
      </div>

      <div>
        <label for="fullName" class="block text-sm font-medium text-gray-700">Full name</label>
        <input id="fullName" type="text" [(ngModel)]="fullName" name="fullName" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" />
      </div>
      
      <div>
        <label for="city" class="block text-sm font-medium text-gray-700">City</label>
        <input id="city" type="text" [(ngModel)]="city" name="city" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" />
      </div>
      
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" />
      </div>
      
      <button type="submit" class="w-full bg-yellow-400 text-gray-800 py-2 rounded-md hover:bg-yellow-500 focus:outline-none">Register</button>
    </form>
    <div class="mt-4 text-center">
      <span>Back to <a routerLink="/login" class="text-gray-800 font-bold">Login</a></span>
    </div>
  </div>
</div>
